@media (min-width: 1401px) {

    #main {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 500px 500px 50px;
        grid-template-areas:
        "hd"
        "sc"
        "ft"
        ;
    }

}