@media (max-width: 1400px) {

    #main {
        display: grid;
        grid-template-columns: 90%;
        grid-template-rows: 100px 2400px 50px;
        grid-template-areas:
        "hd"
        "sc"
        "ft";
        justify-content: center;
    }

    #header {
        grid-area: "hd";
    }

    #section {
        grid-area: "sc";
        justify-content: center;
    }

    #footer {
        grid-area: "ft"
    }

    #section {
        display: flex;
        flex-flow: wrap;
        align-content: flex-start;
    }
    .card {
        display: grid;
        grid-template-columns: 340px;
        grid-template-rows: 250px 250px;
        grid-template-areas: 
        "img"
        "content";
        border: 1px solid rgb(149, 151, 151);
        border-radius: 5px;
        margin: 15px;
    }

    .image {
        grid-area: "img";
    }

    img {
        max-width: 100%;
        max-height: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .card-content {
        grid-area: "content";
    }

}