@media (min-width: 1401px) {

    #main {
        display: grid;
        grid-template-columns: 90%;
        grid-template-rows: 100px 800px 50px;
        grid-template-areas:
        "hd"
        "sc"
        "ft";
        justify-content: center;
    }

    #header {
        grid-area: "hd";
    }

    #section {
        grid-area: "sc";
    }

    #footer {
        grid-area: "ft"
    }

    #section {
        display: flex;
        flex-wrap: wrap;
    }
    .card {
        display: grid;
        grid-template-columns: 360px;
        grid-template-rows: 250px 250px;
        grid-template-areas: 
        "img"
        "content";

        
    }

    .image {
        grid-area: "img";
    }

    img {
        width: 360px;
        height: 250px;
    }

    .card-content {
        grid-area: "content";
    }

}