@media (max-width: 1400px) {

    /* Removing default Margin and Padding*/
    h1, h2, h3, h4, p {
        margin: 0px;
        padding: 0px;
    }

    #main {
        display: grid;
        grid-template-columns: 90%;
        grid-template-rows: 150px 2400px 50px;
        grid-template-areas:
        "hd"
        "sc"
        "ft";
        justify-content: center;
    }

    #header {
        grid-area: "hd";
        display: grid;
        grid-template-rows: 50% 50%;
        grid-template-areas: 
        "logo"
        "nav";
    }

    #logo {
        grid-area: "logo";
    }

    .nav {
        grid-area:"nav";
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
        margin: 0px;
        padding: 0px;
        background-color: rgb(83, 80, 80, 0.05);
    }

    li {
        width: 150px;
        padding: 10px;
        text-align: center;
    }

    #grey {
        border-bottom: 2px solid rgb(102, 100, 100);
    }

    #grey:hover {
        border-bottom: 3px solid rgb(102, 100, 100);
        background-color: rgb(83, 80, 80, 0.1);
    }

    #rose {
        border-bottom: 2px solid rgb(202, 102, 102);
    }

    #rose:hover {
        border-bottom: 3px solid  rgb(202, 102, 102);
        background-color: rgb(83, 80, 80, 0.1);
    }

    #green {
        border-bottom: 2px solid rgb(77, 196, 140);
    }

    #green:hover {
        border-bottom: 3px solid rgb(77, 196, 140);
        background-color: rgb(83, 80, 80, 0.1);
    }

    #blue {
        border-bottom: 2px solid rgb(31, 116, 196);
    }

    #blue:hover {
        border-bottom: 3px solid rgb(31, 116, 196);
        background-color: rgb(83, 80, 80, 0.1); 
    }

    #yellow {
        border-bottom: 2px solid rgb(211, 230, 40);
    }

    #yellow:hover {
        border-bottom: 3px solid rgb(211, 230, 40);
        background-color: rgb(83, 80, 80, 0.1);
    }

    #section {
        grid-area: "sc";
        justify-content: center;
    }

    #footer {
        grid-area: "ft"
    }

    #section {
        display: flex;
        flex-flow: wrap;
        align-content: flex-start;
    }

    .card {
        display: grid;
        grid-template-columns: 350px;
        grid-template-rows: 233px 210px 40px;
        grid-template-areas: 
        "img"
        "content"
        "date";
        border: 1px solid rgb(149, 151, 151);
        border-radius: 5px;
        margin: 10px;
    }

    .image {
        grid-area: "img";
        background-color:#2c2e2e;
    }

    img {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        max-height: 100%;
        max-width: 100%;
        object-fit: fill;
    }

    img:hover {
        opacity: 0.4;
    }

    .card-content {
        grid-area: "content";
        padding: 25px 40px;
    }

    .post-title, .category, .post-des {
        padding: 5px 0px;
    }

    .category, .date {
        font-weight: 600;
    }

    .date {
        grid-area: "date";
        text-align: left;
        padding: 10px 40px;
    }

    /* Styling the links */
    a:link, a:visited {
        text-decoration: none;
        color: #2c2e2e;
    }

    .card a:hover {
        text-decoration: underline;
        color: #2c2e2e;
    }

    a:active {
        text-decoration: none;
    }

    
    
}