@media (max-width: 1400px) {

    /* Removing default Margin and Padding*/
    h1, h2, h3, h4, p {
        margin: 0px;
        padding: 0px;
    }

    #main {
        display: grid;
        grid-template-columns: 90%;
        grid-template-rows: 100px 2400px 50px;
        grid-template-areas:
        "hd"
        "sc"
        "ft";
        justify-content: center;
    }

    #header {
        grid-area: "hd";
    }

    .nav {
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
    }

    #grey {
        border-bottom: 2px solid grey;
    }

    #section {
        grid-area: "sc";
        justify-content: center;
    }

    #footer {
        grid-area: "ft"
    }

    #section {
        display: flex;
        flex-flow: wrap;
        align-content: flex-start;
    }

    .card {
        display: grid;
        grid-template-columns: 350px;
        grid-template-rows: 233px 210px 40px;
        grid-template-areas: 
        "img"
        "content"
        "date";
        border: 1px solid rgb(149, 151, 151);
        border-radius: 5px;
        margin: 10px;
    }

    .image {
        grid-area: "img";
        background-color:#2c2e2e;
    }

    img {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        max-height: 100%;
        max-width: 100%;
        object-fit: fill;
    }

    img:hover {
        opacity: 0.4;
    }

    .card-content {
        grid-area: "content";
        padding: 25px 40px;
    }

    .post-title, .category, .post-des {
        padding: 5px 0px;
    }

    .category, .date {
        font-weight: 600;
    }

    .date {
        grid-area: "date";
        text-align: left;
        padding: 10px 40px;
    }

    /* Styling the links */
    a:link, a:visited {
        text-decoration: none;
        color: #2c2e2e;
    }

    .card a:hover {
        text-decoration: underline;
        color: #2c2e2e;
    }

    a:active {
        text-decoration: none;
    }


    
}